.field {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14pt;

    -fx-padding: 5;

    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-highlight-fill: white;
    -fx-highlight-text-fill: #1c1c1c;

    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: white;
}